<table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>What's App</th> 
      <th>Action</th>
    </tr>    
    <tr *ngFor="let gamer of gamers"> <!-- ✅ Corrected *ngFor -->
      <td>{{ gamer.name }}</td> <!-- ✅ Use actual object properties -->
      <td>{{ gamer.email }}</td>
      <td>{{ gamer.city }}</td>
      <td>{{ gamer.whatsapp }}</td>
      <td>
        <button class="btn btn-sm m-2 btn-danger" (click)="deleteGamer(gamer.id)"><i class="fa fa-trash"></i></button>
        <button class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
  </table>
  